
.block1 {
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(44, 44, 44);
}

.block2 {
    padding-top: 2%;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.g-block-1 {
    width: 100%;
    float: left;
}